@import 'tailwindcss';
@import '../../colors.scss';
@import '../../fonts.scss';

@mixin rowStyles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@mixin headerBorders {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

:root {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
}

// Month Colors
$month-colors: (
    january: #fdc3b6,
    february: #f8b4d2,
    march: #b5e3d8,
    april: #c3d9f7,
    may: #f9e2b8,
    june: #f7c8e0,
    july: #b8d8f9,
    august: #d4f7c3,
    september: #f7d3b8,
    october: #f9b8c3,
    november: #d8b8f9,
    december: #b8e3f9
);

.calendar {
    border-radius: 4px;
    background-color: $white-300;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
}



.calendar__calendar-row {
    @include rowStyles;
    width: 100%;
    background-color: $white-300;

}

.calendar__header {
    @include rowStyles;
    @include headerBorders;
    padding: 16px;
    background-color: $white-300; // Placeholder for month color
    transition: background-color 0.3s ease-in-out;
    width: 50vw;
    font-family: 'Montserrat', sans-serif;
}

// Month Header Colors (using the month colors defined in :root)
// NOTE: This is an SCSS map, for iterating through $month-colors! the first value is the key, the second is the value. 
@each $month, $color in $month-colors {
    .calendar__header--#{$month} {
        background-color: $color;
    }
}

.calendar-header__day-names {
    @include rowStyles;
    padding: 16px;
    background-color: $white-300;
    border-bottom: 1px solid $black-200;
    font-family: 'Average Sans', sans-serif;
    padding-left: 0;
    padding-right: 0;
}
.calendar-header__arrow {
    color: $black-500;
    font-size: 24px;
    transition: color 0.3s ease;
}
.calendar-header__arrow:hover {
    color: $black-300;
}