:root {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
}

.calendar-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: bold;
}
.calendar-cell__date-number {
  color: rgb(32, 32, 32);
  font-size: 11pt;
  font-weight: bold;
  align-self: flex-start;
}

