@import '../../colors.scss';

@mixin calendar-cell {
  display: table-cell;
  text-align: left;
  width: 14.28%; // 100% / 7 days = 14.28%
  height: 100%;
  min-width: 50px;
  min-height: 100px;
  border-color: rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: bold;
  border-width: 1px;
}

:root {
  color: $black-600;
  --cell-color: $white-300;
}

.calendar-cell {
  @include calendar-cell;
  transition: background-color 0.1s ease-in-out;
}
.calendar-cell__date-number {
  color: $black-600;
  font-size: 11pt;
  font-weight: bold;
  align-self: flex-start;
  min-width: 10px;
  padding-top: 5px;
  padding-left: 5px;
}

.calendar-cell--selected {
  @include calendar-cell;
  background-color: $black-100;
}

