@import '../../colors.scss';
@import '../../fonts.scss';

.add-event-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $white-100;
    height: inherit;
    width: inherit;

    > label {
        font-family: 'Imprima', sans-serif;
        font-size: 1.2rem;
        color: $black-900;
    }

    input, textarea {
        color: $black-900; // Ensure input text is visible
        background: $white-200; // Slightly off-white for input fields
        border-radius: 4px;
        padding: 0.5rem;
    }
}